ansible==4.1.0
ansible-core==2.11.1
cffi==1.14.5
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
Jinja2==3.0.1
kaptan==0.5.12
libtmux==0.9.0
MarkupSafe==2.0.1
packaging==20.9
pkg-resources==0.0.0
pycparser==2.20
pyparsing==2.4.7
PyYAML==5.4.1
redis==3.5.3
resolvelib==0.5.5
tmuxp==1.8.2
